<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
    <div class="col-md-2" id="sidebar">
        <h2>Teams</h2>
        <ul>
          <li *ngFor="let team of teams;">
              {{team}}
              <hr>
          </li>

        </ul>
        <div class="bottom">
            <button class="tweet"><i class="fa fa-twitter"></i> Tweet</button><br>
            <button class="live"><span class="glyphicon glyphicon-facetime-video"></span> Live</button>
          </div>        
    </div> 
    <div class="col-md-10 bracket">
      <div id="actionbar">
        <ul>
          <li class="name">{{name}}</li><br>
          <li class="viewmore"><button>view more</button></li>
        </ul>
        <ul class="right">
          <table>
            <tr>
              <td class="text-right darker">{{ratings.likes.length}} -</td>
              <td class="text-left like" (click)="addRating({rating: 'like'})">LIKE</td>
            </tr>
            <tr>
                <td class="text-right darker">{{ratings.dislikes.length}} -</td>
                <td class="text-left like" (click)="addRating({rating: 'dislike'})">DISLIKE</td>
              </tr>
          </table>
          
        </ul>
        <br>
        <div id="actioncontent">
          <div class="part">
            <h2>Bracket Description</h2>
            <p>{{description}}</p>
          </div>
          <div class="part">
            <h2>Bracket Bets</h2>
            <p>{{description}}</p>
          </div>
        </div>
      </div>
    </div>
    
</div>
