<!--The content below is only a placeholder and can be replaced.-->
<preload *ngIf="!loaded">Loading..</preload>
<app-modal [(visible)]="showModal" [header]="modalHeader" [type]="modalType">{{modalContent}}</app-modal>

<div class="row" *ngIf="loaded">
<!--
    <div class="col-md-2" id="sidebar">
        <h2 class="teamsHead">Teams</h2>
        
        <div *ngIf="regProcessing == false">
          <button class="register" *ngIf="hasPublicJoins == 'true' && registered == false" (click)="register()">Register</button>
          <button class="register" *ngIf="hasPublicJoins == 'true' && registered == true" (click)="register()">Leave</button>
        </div>
        <div *ngIf="regProcessing == true">
          <button class="register">Processing</button>
        </div>
        <ul id="teamList">
          <li *ngFor="let team of teams;">
              {{team.name}}
              <hr>
          </li>
     TODO: Add registering!
          <li>
              <button class="register" *ngIf="hasPublicJoins == true">Register</button>
          </li>
        
        </ul>

        <div class="bottom">

            <a [href]="tweetLink"><button class="tweet"><i class="fa fa-twitter"></i> Tweet</button></a><br>
            <button class="live" (click)="showLivestream()"><span class="glyphicon glyphicon-facetime-video"></span> Watch live</button>
          </div>        
    </div> 
  -->
    <div class="col-md-12 bracket">

      <div class="bracketArea">
        <bracket [teams]="teams"></bracket>
      </div>

      <div id="actionbar" *ngIf="!viewMore">
        <ul>
          <li class="name">{{name}} <span class="darker"><span class="basicInfo">- {{game}}</span></span></li><br>
          <li class="viewmore" (click)="viewMore = true"><button>view more</button></li>
        </ul>
        <ul class="right">
          <table>
            <tr>
              <td class="text-right darker">{{ratings.likes.length}} -</td>
              <td class="text-left like" (click)="addRating({rating: 'like'})">LIKE</td>
            </tr>
            <tr>
                <td class="text-right darker">{{ratings.dislikes.length}} -</td>
                <td class="text-left like" (click)="addRating({rating: 'dislike'})">DISLIKE</td>
              </tr>
          </table>
          
        </ul>
        <br>
      </div>

      <div id="actionbar" class="top" *ngIf="viewMore">
        <div id="actionhead">
          <ul>
            <li class="name">{{name}} <span class="darker"><span class="basicInfo">- {{game}}</span></span></li><br>
            <li class="viewmore" (click)="viewMore = false"><button>view less</button></li>
          </ul>
          <ul class="right">
            <table>
              <tr>
                <td class="text-right darker">{{ratings.likes.length}} -</td>
                <td class="text-left like" (click)="addRating({rating: 'like'})">LIKE</td>
              </tr>
              <tr>
                <td class="text-right darker">{{ratings.dislikes.length}} -</td>
                <td class="text-left like" (click)="addRating({rating: 'dislike'})">DISLIKE</td>
              </tr>
            </table> 
          </ul>
        </div>

        <br>

        <div class="actioncontent">
          <div class="content">
            <h2>Description:</h2>
            <p>{{description}}</p>
            <p><strong>Game/Subject: </strong>{{game}}</p>
            <br>
            <h2>Team Descriptions:</h2>
            <ul>
              <li *ngFor="let team of teams;">
                  <strong>{{team.name}}:</strong> {{team.description}}
                  <hr>
              </li>
            </ul>
            <hr>
          </div>
        </div>
      </div>
    </div>
    
</div>
