
.row {
    height: calc(100vh - 52px);
    width: calc(100vw + 15px);
}
.col-sm-2 {
    padding: 0;
    margin: 0;
}
#sidebar {
    height: 100%;
    background-color: #64C6EB;
    color: white;
}

#sidebar .bottom {
    position: absolute;
    bottom: 39px;
    left:0;
    height: 50px;
    padding: 0;
    width: 100%;
    font-size: 18pt;
}

#sidebar button {
    margin: 0;
    border: 0;
    padding: 5.25px;
    width: 100%;
    font-weight: bold;
    color: white;
}

#sidebar button.tweet {
    background-color: #259ECB;
}
#sidebar button.live {
    background-color: #D53535;
}
hr {
    border: 1px solid #26B6EC;
}

#sidebar h2 {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    padding: 10px;

}
li {
    font-size: 16pt;
    line-height: 10px;
}

.bracket {
    height: calc(100vh - 52px); 
    margin: 0;
    padding: 0;
}

#actionbar {
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 89px;
    background-color: #26B6EC;
    overflow-x: hidden;

}

#actionbar ul {
    position: relative;
    top: 8px;
}

#actionbar li {
    float: left;
    vertical-align: baseline;
    font-weight: bold;

}

#actionbar .name {
    font-size: 24pt;
    text-align: left;
    line-height: 1px;

}


#actionbar .viewmore {
    line-height: 0px;
    position: absolute;
    bottom: -20px;
    color: white;
    font-size: 12pt;
}

#actionbar .viewmore button {
    height: 25px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

#actionbar .viewmore button:hover {
    color: rgb(218, 245, 255);
    border-color: rgb(218, 245, 255);
}

#actionbar .right {
    position: absolute;
    right: 20px;
    top: 2px;
    overflow: hidden;
    height: 70px;
}

#actionbar table {
    overflow: hidden;
}

#actionbar .right table {
    font-size: 18pt;
}

.darker {
    color: rgb(136, 223, 255);
    text-align: right;
    font-size: 18pt;
    padding-right: 8px;
}

.like {
    font-weight: bold;
    text-align: left;
    font-size: 18pt;

}

.like:hover {
    cursor: pointer;
    color: rgb(37, 40, 211);
}

::-webkit-scrollbar { 
    display: none; 
}
#actioncontent {
    color: white;
    overflow-x: hidden;

}
