<!--The content below is only a placeholder and can be replaced.-->
<preload *ngIf="!loaded">Loading..</preload>
<app-modal [(visible)]="showModal" [header]="modalHeader" [type]="modalType">{{modalContent}}</app-modal>

<div class="container-fluid" *ngIf="loaded">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <div id="userSection">
        <img [src]="gravatar" class="icon" />
        <p class="name">{{name}}</p>
        <a href="https://en.gravatar.com/emails/" [hidden]="!isPersonal"><button>Click here to change your icon</button></a>
      </div>

      <a href="/shop"><div id="adSection">
        <p>Want to get upgrades & coins? Check out the shop for upgrades and other cool things by clicking here!</p>
      </div></a>
      <input type="password" name="prompt" [hidden]="true" />
      <button id="resetPassword" (click)="resetPassword()" [hidden]="resetPasswordProcessing || !isPersonal">Click here to change your password</button>
      <button id="resetPasswordProcessing" disabled [hidden]="!resetPasswordProcessing || !isPersonal">Changing..</button>

      <button id="deleteAccount" (click)="deleteAccount()" [hidden]="deletingAccount || !isPersonal">Click here to delete your account</button>
      <button id="deleteProcessing" disabled [hidden]="!deletingAccount || !isPersonal">Deleting..</button>

    </div>
    <div class="col-sm-6">
      <div class="alert alert-success" role="alert" [hidden]="status != 'success'">
        <strong>Success!</strong> {{statusMsg}}
      </div>
      <div class="alert alert-danger" role="alert" [hidden]="status != 'fail'">
        <strong>Uh oh!</strong> {{statusMsg}}
      </div>
      <h2>Brackets <a href="./create" [hidden]="!isPersonal"><button class="btn btn-sm btn-success"><span class="color-success glyphicon glyphicon-plus"></span></button></a></h2>
      <p style="font-style: italic">Click to view</p>
      <div class="list-group">
        <span class="list-group-item" *ngFor="let bracket of brackets.slice().reverse()"><a href="{{bracket.link}}"><span style="font-weight: bold;">{{bracket.name}}</span> </a> - {{bracket.description}}<span style="float: right;" [hidden]="bracket.id == '#' || !isPersonal"><button class="btn btn-sm btn-danger" (click)="deleteBracket(bracket.id)"><span class="color-success glyphicon glyphicon-minus"></span></button></span></span>
      </div>

      <h2>Profile Info</h2>
      <h3>Description</h3>
      <p style="font-style: italic">Click to change</p>
      <div class="panel panel-default" *ngIf="changingDescription != true">
        <div class="panel-body" (click)="changingDescription = true">{{description}}</div>
      </div>
      <div class="form-group" *ngIf="changingDescription == true">
        <textarea class="form-control" rows="3" #newDesc>{{description}}</textarea>
        <br>
        <button (click)="changeDescription(newDesc.value)" class="btn btn-md btn-info" *ngIf="descChange == false">Change</button>&nbsp;
        <button (click)="changingDescription = false" class="btn btn-md btn-danger" *ngIf="descChange == false">Cancel</button>
        <button class="btn btn-md btn-warning" *ngIf="descChange == true">Changing...</button>


      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>