.wrapper {
    margin-top: 40px;
    overflow: scroll;
    height: calc(100vh - 39px - 104px);
    padding-bottom: 20px;
    
}
.bracket {
    display : flex;
  align-items : center;
  width: 100%;
  padding-right: 10px;


}

.brackets {
    width: 100%;
    color: white;
    float: left;
}

.brackets ul {
    margin-top: auto;
    margin-bottom: auto;
}

.brackets li {
    background-color: #26B6EC;
    border-bottom: 4px solid #64C6EB;
    margin-bottom: 5px;
    padding: 10px;
    list-style-type: none;

}

.brackets li:nth-child(2n+2):not(:last-child) {
    margin-bottom: 50px;
}

.winnerSelect {
    text-align: right;
    float: right;
}

.removeWinnerSelect {
    float: left;
    margin-right: 10px;
}

.pError {
    text-align: center;
    color: red;
    font-weight: bold;
}

.highlight {
    background-color: rgb(75, 207, 255) !important;
    border-bottom: 4px solid #26B6EC !important;
}

.scramble {
    background-color: #26B6EC;
}


#newTeam {
    color: black;
    background-color: rgb(83, 195, 236);
}

#teamRemover:hover {
    cursor: pointer;
    color: rgb(235, 43, 43);
}

@media only screen and (max-width: 720px) {
    .wrapper {
        overflow: scroll;
    }

    .bracket {
        width: 200vh;
        overflow: hidden;

    }
}