<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Users</h1>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Coins</th>
                        <th scope="col">Last Login</th>
                        <th scope="col">Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">kvizdos</td>
                            <td>kvizdos@gmail.com</td>
                            <td>1000</td>
                            <td>8/19/2018</td>
                            <td>Yes</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>