<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="jumbotron header">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h1>Create. Customize. Share.</h1>
        <h2>Just hit the 'create' button down below and we'll do all the work for you.</h2>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <a href="/create"><button class="fancyButton">Create</button></a>
      </div>
      <div class="col-sm-2">
          <a href="/explore"><button class="fancyButton">Explore</button></a>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <input class="fancySearch" #search placeholder="Search..." />
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>