.icon-coin-white .path1:before {
    content: "\e900";
    color: #adadad;
  }
  .icon-coin-white .path2:before {
    content: "\e901";
    color: #adadad;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path3:before {
    content: "\e902";
    color: #adadad;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path4:before {
    content: "\e903";
    color: #aeaeae;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path5:before {
    content: "\e904";
    color: #aeaeae;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path6:before {
    content: "\e905";
    color: #aeaeae;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path7:before {
    content: "\e906";
    color: #afafaf;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path8:before {
    content: "\e907";
    color: #afafaf;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path9:before {
    content: "\e908";
    color: #afafaf;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path10:before {
    content: "\e909";
    color: #afafaf;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path11:before {
    content: "\e90a";
    color: #b0b0b0;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path12:before {
    content: "\e90b";
    color: #b0b0b0;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path13:before {
    content: "\e90c";
    color: #b0b0b0;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path14:before {
    content: "\e90d";
    color: #b1b1b1;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path15:before {
    content: "\e90e";
    color: #b1b1b1;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path16:before {
    content: "\e90f";
    color: #b1b1b1;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path17:before {
    content: "\e910";
    color: #b1b1b1;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path18:before {
    content: "\e911";
    color: #b2b2b2;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path19:before {
    content: "\e912";
    color: #b2b2b2;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path20:before {
    content: "\e913";
    color: #b2b2b2;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path21:before {
    content: "\e914";
    color: #b3b3b3;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path22:before {
    content: "\e915";
    color: #b3b3b3;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path23:before {
    content: "\e916";
    color: #b3b3b3;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path24:before {
    content: "\e917";
    color: #b3b3b3;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path25:before {
    content: "\e918";
    color: #b4b4b4;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path26:before {
    content: "\e919";
    color: #b4b4b4;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path27:before {
    content: "\e91a";
    color: #b4b4b4;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path28:before {
    content: "\e91b";
    color: #b5b5b5;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path29:before {
    content: "\e91c";
    color: #b5b5b5;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path30:before {
    content: "\e91d";
    color: #b5b5b5;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path31:before {
    content: "\e91e";
    color: #bfbfbf;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path32:before {
    content: "\e91f";
    color: #bebebe;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path33:before {
    content: "\e920";
    color: #bebebe;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path34:before {
    content: "\e921";
    color: #bebebe;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path35:before {
    content: "\e922";
    color: #bdbdbd;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path36:before {
    content: "\e923";
    color: #bdbdbd;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path37:before {
    content: "\e924";
    color: #bdbdbd;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path38:before {
    content: "\e925";
    color: #bcbcbc;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path39:before {
    content: "\e926";
    color: #bcbcbc;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path40:before {
    content: "\e927";
    color: #bcbcbc;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path41:before {
    content: "\e928";
    color: #bcbcbc;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path42:before {
    content: "\e929";
    color: #bbb;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path43:before {
    content: "\e92a";
    color: #bbb;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path44:before {
    content: "\e92b";
    color: #bbb;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path45:before {
    content: "\e92c";
    color: #bababa;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path46:before {
    content: "\e92d";
    color: #bababa;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path47:before {
    content: "\e92e";
    color: #bababa;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path48:before {
    content: "\e92f";
    color: #b9b9b9;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path49:before {
    content: "\e930";
    color: #b9b9b9;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path50:before {
    content: "\e931";
    color: #b9b9b9;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path51:before {
    content: "\e932";
    color: #b9b9b9;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path52:before {
    content: "\e933";
    color: #b8b8b8;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path53:before {
    content: "\e934";
    color: #b8b8b8;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path54:before {
    content: "\e935";
    color: #b8b8b8;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path55:before {
    content: "\e936";
    color: #b7b7b7;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path56:before {
    content: "\e937";
    color: #b7b7b7;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path57:before {
    content: "\e938";
    color: #b7b7b7;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path58:before {
    content: "\e939";
    color: #b6b6b6;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path59:before {
    content: "\e93a";
    color: #b6b6b6;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path60:before {
    content: "\e93b";
    color: #b6b6b6;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path61:before {
    content: "\e93c";
    color: #dbdbdb;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path62:before {
    content: "\e93d";
    color: #b5b5b5;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path63:before {
    content: "\e93e";
    color: #b5b5b5;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path64:before {
    content: "\e93f";
    color: #b4b4b4;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path65:before {
    content: "\e940";
    color: #b4b4b4;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path66:before {
    content: "\e941";
    color: #b4b4b4;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path67:before {
    content: "\e942";
    color: #b3b3b3;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path68:before {
    content: "\e943";
    color: #b3b3b3;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path69:before {
    content: "\e944";
    color: #b3b3b3;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path70:before {
    content: "\e945";
    color: #b3b3b3;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path71:before {
    content: "\e946";
    color: #b2b2b2;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path72:before {
    content: "\e947";
    color: #b2b2b2;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path73:before {
    content: "\e948";
    color: #b2b2b2;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path74:before {
    content: "\e949";
    color: #b1b1b1;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path75:before {
    content: "\e94a";
    color: #b1b1b1;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path76:before {
    content: "\e94b";
    color: #b1b1b1;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path77:before {
    content: "\e94c";
    color: #b1b1b1;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path78:before {
    content: "\e94d";
    color: #b0b0b0;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path79:before {
    content: "\e94e";
    color: #b0b0b0;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path80:before {
    content: "\e94f";
    color: #b0b0b0;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path81:before {
    content: "\e950";
    color: #afafaf;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path82:before {
    content: "\e951";
    color: #afafaf;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path83:before {
    content: "\e952";
    color: #afafaf;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path84:before {
    content: "\e953";
    color: #afafaf;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path85:before {
    content: "\e954";
    color: #aeaeae;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path86:before {
    content: "\e955";
    color: #aeaeae;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path87:before {
    content: "\e956";
    color: #aeaeae;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path88:before {
    content: "\e957";
    color: #adadad;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path89:before {
    content: "\e958";
    color: #adadad;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path90:before {
    content: "\e959";
    color: #adadad;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path91:before {
    content: "\e95a";
    color: #d0d0d0;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path92:before {
    content: "\e95b";
    color: #b3b3b3;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path93:before {
    content: "\e95c";
    color: #b3b3b3;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path94:before {
    content: "\e95d";
    color: #a5a5a5;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path95:before {
    content: "\e95e";
    color: #aeaeae;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path96:before {
    content: "\e95f";
    color: #a7a7a7;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path97:before {
    content: "\e960";
    color: #aaa;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path98:before {
    content: "\e961";
    color: #b2b2b2;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path99:before {
    content: "\e962";
    color: #aaa;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path100:before {
    content: "\e963";
    color: #a8a8a8;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path101:before {
    content: "\e964";
    color: #a7a7a7;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path102:before {
    content: "\e965";
    color: #aaa;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path103:before {
    content: "\e966";
    color: #a8a8a8;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path104:before {
    content: "\e967";
    color: #a7a7a7;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path105:before {
    content: "\e968";
    color: #c2c2c2;
    margin-left: -0.93359375em;
  }
  .icon-coin-white .path106:before {
    content: "\e969";
    color: #a7a7a7;
    margin-left: -0.93359375em;
  }