<!--The content below is only a placeholder and can be replaced.-->
<app-modal [(visible)]="showModal" [header]="modalHeader" [type]="modalType">{{modalContent}}</app-modal>

<div style="text-align:center shell">
 <div class="row padding">
     <div class="col-sm-1"></div>
     <div class="col-sm-5">
         <h1>Bracket Name</h1>
         <input type="text" #name placeholder="My awesome Bracket" [ngClass]="nameError == true ? 'inpError' : 'undefined'"/>
         <h1>Bracket Description</h1>
         <p>*Maximum 200 characters</p>
         <textarea #description placeholder="blah bliddy bloo bla blah" maxlength="200" rows="10" [ngClass]="descError == true ? 'inpError' : undefined"></textarea>
         <h1>Bracket Livestream Link</h1>
         <input #live placeholder="service.extension/yourchannel"/>
     </div>
     <div class="col-sm-5">
        <h1>Game/Subject</h1>
        <input #game placeholder="Rocket League" [ngClass]="gameError == true ? 'inpError' : undefined"/>
        <h1>Date</h1>
        <input #date type="date" [ngClass]="dateError == true ? 'inpError' : undefined"/>
        <h1>Visibility Settins</h1>
        
        <div class="inline-field">
            <label for="checkbox"><input type="checkbox" id="checkbox" checked #pubView> Publicly viewable</label>
        </div>
        <br>
        <div class="inline-field">
            <label><input type="checkbox" id="checkbox" #pubReg> Public registration</label>
        </div>

         <h1>Bracket Addons</h1>
         <p>*Click the name to see more information</p>
         <div class="row">
            <div class="col-sm-5"><h2>Custom URL</h2></div>
            <div class="col-sm-5"><h2>Custom Theme</h2></div>
            <div class="col-sm-5"><h2>Promote Bracket</h2></div>
            <div class="col-sm-5"><h2>Team Pictures</h2></div>
            <div class="col-sm-5"><h2>Embed Bracket</h2></div>
            <div class="col-sm-5"><h2>Coin Boosters</h2></div>
         </div>
         <br>
         <p>All settings can be changed at any time</p>
        <button (click)="createBracket({date: date.value, pubView: pubView.checked, pubReg: pubReg.checked, name: name.value, description: description.value, live: live.value, game: game.value, addons: []})" [hidden]="clicked">Create</button>
        <button disabled class="clicked" [hidden]="!clicked">Creating..</button>
 
    </div>
     <div class="col-sm-1"></div>

 </div>
</div>