.section {
    opacity: 0;
    transition: 500ms;
}

.activeSection {
    opacity: 100;
    transition: 500ms;
}

.fadeBracketIn {
    transition: 500ms;
}

.row {
    transition: 500ms;
}

.selectCat {
    text-align: center;
}

.category {
    display: block;
    margin: auto;
    padding: 10px;
    width: 75%;
}

.lbCat {
    width: 62%;
}

text, .st0 {
    transition: 500ms; /* vendorless fallback */
    -o-transition: 500ms; /* opera */
    -ms-transition: 500ms; /* IE 10 */
    -moz-transition: 500ms; /* Firefox */
    -webkit-transition: 500ms; /*safari and chrome */
}

.selectCat .category:hover text{
    fill: #64C6EB;

}

.selectCat .category:hover .st0 {
    fill: #64C6EB;
}

.active text, .active .st0{
    fill: #64C6EB;

}

.padding {
    padding: 10px;
}
h1 {
    color: #26B6EC;
    font-size: 32pt;
    font-weight: bold;
}

h2 {
    color: #26B6EC;
    font-size: 28pt;
}

hr {
    border: 1px solid #64C6EB;
}

input:not([type='checkbox']),textarea {
    width: 100%;
    border: 2px solid #26B6EC;
    border-radius: 10px;
    font-size: 16pt;
    padding: 10px;
}
:focus {
    outline: none;
}
input:focus {
    outline: none;
}
input[type='checkbox'] {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 2px solid #26B6EC;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}
input[type='checkbox']:checked {
    background-color: #64C6EB;
}
.dontallow {
    border: 2px solid rgb(137, 204, 228);

}
label {
    font-size: 12pt;
    font-weight: normal;
}

textarea {
    resize: vertical;
}

button {
    text-align: center;
    padding: 10px;
    background-color: #26B6EC;
    font-size: 28pt;
    border: 0;
    border-radius: 10px;
    width: 100%;
    color: 100%;
    font-weight: bold;
    color: white;
}

.clicked {
    background-color: rgb(131, 200, 224);
  
}

.inpError {
    border: 2px solid rgb(223, 13, 13) !important;
}

label { display: block; margin-bottom: 8px; }

.inline-field {
    display: inline-block;
}

