@font-face {
    font-family: "Product Sans";
    src: url("assets/fonts/psr.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Product Sans";
    src: url("assets/fonts/psb.ttf");
    font-weight: bold;   
}

* {
    font-family: "Product Sans";
    font-weight: normal;
}